PORT=3000
JWT_SECRET=GgbgvkNkiMWz5rTZemlVGsq8K6uHzzdhoOm4uOHug1w=
MONGO_URI=mongodb+srv://ratinderrajput999_db_user:wH5LgphUa0xOXily@cluster0.qt8s4gq.mongodb.net/?appName=Cluster0
REDIS_URL=redis://localhost:6379
FRONTEND_URL=http://localhost:3001
NODE_ENV=development